body{
	padding-top:150px;
    	padding-left: 35%;
	background-color: #BB2CD9;
}
input.textview{
 	font-weight: bold;
  	font-size:25px;
}
.textview{
	width: 413px;
	height: 45px;
	background-color: orange;
	color: white;
}
.but{
	width: 100px;
	height: 60px;
	background-color: blue;
	color: black;
	font-size: 35px;
}
.but:hover{
	background-color: orange;
}